@import "colors";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat";
}

// Precisou dar override na cor padrão do browser
body {
    background-color: $lightGray !important;
}

ul {
    list-style: none;
}
