@import "colors";

.button {
    padding: 7px 40px;
    background-color: $blue;
    color: $white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    transition: opacity 0.4s;

    &:focus,
    &:hover {
        transition: opacity 0.4s;
        opacity: 0.7;
    }
}

.button.active {
    background-color: $orange;
}
