@import "colors";

.plan-package-wrapper {
    border-radius: 5px;
    background: $white;
    margin: 0 1rem 1rem;
    padding: 1rem 0 0;
}

.plan-package-wrapper.recommended {
    border-top: 10px solid $orange;
    border-bottom: 5px solid $orange;
}
